/*------------------------------
  File : anchor-nav.css
  Create date : 2023-10-04
  Version : 1.0.0
  ※ 목차 네비게이션
------------------------------*/
html {
  scroll-behavior: smooth;
}

/* 네비게이션 */
.anchor_nav {
  width: 180px;
  line-height: 2.0;
  padding: 10px 20px 15px !important;
  position: fixed;
  top: 0;
  margin-top: 10vh !important;
  right: 0;
  margin-right: 10px !important;
  border: 3px solid transparent;
  border-image-slice: 1;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: right 1s;
  z-index: 20;
}

.anchor_nav::before {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.anchor_nav li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.7em;
  margin-bottom: 5px !important;
}

.anchor_nav li::before {
  padding-right: 10px;
}

.anchor_nav li:hover>* {
  color: rgba(0, 255, 127, 0.4);
}

.anchor_nav li a {
  text-decoration-line: none !important;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.anchor_nav .anchor_h2 {
  padding: 5px 0 0 15px !important;
  font-size: 14px;
  margin-bottom: 10px;
}
.anchor_nav .anchor_h2 li::before {
  padding-right: 10px;
}

.anchor_nav .anchor_h3 {
  padding-left: 30px !important;
  font-size: 14px;
  margin-bottom: 10px;
}
.anchor_nav .anchor_h3 li::before {
  padding-right: 10px;
}

.anchor_nav .anchor_h4 {
  padding-left: 30px !important;
  font-size: 14px;
  margin-bottom: 10px;
}
.anchor_nav .anchor_h4 li::before {
  padding-right: 10px;
}

.anchor_nav .anchor_h5 {
  padding-left: 30px !important;
  font-size: 14px;
  margin-bottom: 10px;
}
.anchor_nav .anchor_h5 li::before {
  padding-right: 10px;
}

.anchor_nav .title_two_nav {
  padding: 5px 0 0 15px !important;
}
.anchor_nav .title_two_nav li::before {
  padding-right: 10px;
}

/* 네비게이션 토글 버튼 */
.anchor_toggle_btn {
  background: none;
  border: none;
  font-size: 1.2em;
  position: fixed;
  top: 0;
  margin-top: 7vh;
  right: 0;
  margin-right: 10px;
  transition: all 2s;
  z-index: 20;
}
.anchor_toggle_btn::after{
  content: "👀";
}
.btn_hide {
  right: -240px;
}
.active_anchor a {
  color: springgreen !important;
}
